<p>footer works!</p>
<div class="footer-place">
    <div class="footer-bg p-2 mt-3">
      <div class="container">
        <hr />
        <div class="footer row col-md">
          <div class="footer-col1 col-lg-4 col-md-6 col-12">
            <p id="stprojname" class=" pt-2">Dev<span id="ndprojname">Journey</span></p>
            <div>
              <p class="w-75">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi,
                eveniet ipsam dolorum, asperiores quibusdam, harum at voluptatem
                neque perferendis quaerat laborum quia vitae eum rerum quos optio
                dolorem? Quo, perferendis!
              </p>
            </div>
          </div>
          <div class="footer-col2 col-lg-4 col-md-6 col-12">
            <p class="footer-col2_p1 pt-2">Categories</p>
            <div>
              <p class="w-75 footer-col2_row_p">Lifestyle</p>
              <p class="w-75 footer-col2_row_p">Lifestyle</p>
              <p class="w-75 footer-col2_row_p">Lifestyle</p>
              <p class="w-75 footer-col2_row_p">Lifestyle</p>
            </div>
          </div>
          <div class="footer-col3 col-lg-4 col-md-12 col-12 pt-2">
            <div class="footer-col3-icons ">
              <i class="fa-brands fa-x-twitter px-3"></i>
              <i class="fa-brands fa-square-facebook px-3"></i>
              <i class="fa-brands fa-linkedin px-3"></i>
            </div>
            <div>
              <p>
                © Copyright DevJourney 2024 Design by StyleShoutDistribution
                ThemeWagon
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  