<div class=" bg-gray-100 py-4">

    <div>
        <img src="../../../../../assets/images/1.webp" class="writter-img rounded-circle" alt="">
        <h5 class="mt-4 mb-3">Written by <span class="text-danger">Zach Quinn</span></h5>
        <p class="w-75">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio saepe aliquam
            quaerat
            nihil. Facere, excepturi? Dignissimos, maxime fugit? Repudiandae, eos!</p>
    </div>
    <div class="w-75 m-auto my-4">
        <hr>
    </div>
    <h5>More of Zach Quinn</h5>
    <p>4 Writter blogs cards </p>
    <div class="w-75 m-auto my-4">
        <hr>
    </div>
</div>