<div class="row row-cols-1 row-cols-md-2 g-4 m-auto">
    <div class="col">
        <div class="card h-100 border-0">
            <img src="../../../../../assets/images/blog-card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-flex align-items-center my-2">
                    <img src="../../../../../assets/images/bost-detail.jpg" class="thumb-img rounded-circle me-3"
                        alt="">
                    <h5 class="text-danger m-0">Zach Quinn</h5>
                </div>
                <h5 class="card-title">16 little UI design rules that make a big imapct</h5>
                <p class="card-text my-3">A UI design case study to redesign an example user interface
                    using
                    logical rules or guidelines — Last updated in Jan 2024 User interface...</p>
                <div class="card-tags d-flex gap-3 flex-wrap">
                    <span class="bg-slate-200 rounded-pill py-1 px-3">UI Design</span>

                </div>
            </div>

        </div>
    </div>
</div>